<div class="main-content">
    <div class="container-fluid">
        <!-- Search autocomplete row -->
        <div class="row">
            <div class="col-md-6">
                <div class="input-group no-border">
                    <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.symbol + ' - ' + r.name" [term]="t" [highlightClass]="typeahead-active-item"></ngb-highlight>
                    </ng-template>
                    <input type="text" 
                           placeholder="Symbol" 
                           class="form-control" 
                           [(ngModel)]="selectedSecurity" 
                           [ngbTypeahead]="searchSecurities"
                           [resultFormatter]="securitiesResultFormatter"
                           [inputFormatter]="securitiesInputFormatter"
                           [resultTemplate]="rt"
                    />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                Options
            </div>
            <div class="col-md-1">
                <p class="category">Chart</p>
                <bSwitch
                        [switch-on-color]="'primary'"
                        [switch-off-color]="'primary'"
                        [(ngModel)]="chartSwitch">
                </bSwitch>
            </div>
            <div class="col-md-1">
                <p class="category">Stock</p>
                <bSwitch
                        [switch-on-color]="'primary'"
                        [switch-off-color]="'primary'"
                        [(ngModel)]="stockSwitch">
                </bSwitch>
            </div>
        </div>
        <!-- Date range pickers row -->
        <div class="row">
            <div class="col-md-3 form-group">
                <div class="input-group no-border">
                    <input type="text" 
                           class="form-control"
                           #startDatePicker="ngbDatepicker"
                           ngbDatepicker 
                           (focus)="startDatePicker.toggle()"
                           [(ngModel)]="startDate"
                           [minDate]="{year: 2018, month: 6, day: 29}"
                           [maxDate]="getMaxDate()"
                           placeholder="Starting date">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-calendar-60"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="input-group no-border">
                    <input type="text" 
                           class="form-control"
                           #endDatePicker="ngbDatepicker"
                           ngbDatepicker
                           (focus)="endDatePicker.toggle()"
                           [(ngModel)]="endDate"
                           [minDate]="{year: 2018, month: 6, day: 29}"
                           [maxDate]="getMaxDate()"
                           placeholder="Ending date">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-calendar-60"></i>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6" >
                <button id="search" class="btn btn-sm btn-round pull-right" (click)="onSearch()">Search</button>
            </div>
        </div>
        <!-- stock info -->
        <div class="row" *ngIf="stockSwitch">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4"><h4 class="card-title">Stock</h4></div>
                            <div class="col-md-8">
                                <i class="mouse-pointer pull-right nc-icon"
                                   [ngClass]="{'nc-minimal-down': !isStockCollapse,
                                         'nc-minimal-up': isStockCollapse}"
                                   (click)="isStockCollapse = !isStockCollapse"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content" [ngbCollapse]="isStockCollapse"></div>
                        <hr *ngIf="isStockCollapse" />
                    </div>
                </div>
            </div>
        </div>        
        <!--tables-->
        <div class="row">
            <div class="col-md-12">
                <ngx-loading-bar [includeSpinner]="false" [fixed]="false"></ngx-loading-bar>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4"><h4 class="card-title">Buyers & Sellers</h4></div>
                            <div class="col-md-8">
                                <i class="mouse-pointer pull-right nc-icon" 
                                   [ngClass]="{'nc-minimal-down': !isBuyerSellerCollapsed, 'nc-minimal-up': isBuyerSellerCollapsed}"
                                   (click)="isBuyerSellerCollapsed = !isBuyerSellerCollapsed"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content" [ngbCollapse]="isBuyerSellerCollapsed">
                            <table datatable
                                   [dtOptions]="dataTableOptions"
                                   [dtTrigger]="dataTableTrigger"
                                   class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th *ngFor="let column of columns">
                                        {{column.value}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <ng-container *ngFor="let detail of volume.details">
                                    <tr>
                                        <td>{{detail.brokerName}}</td>
                                        <td class="gain">{{detail.buyer.volume | number}}</td>
                                        <td class="gain">{{detail.buyer.amount | number}}</td>
                                        <td class="gain">{{detail.buyer.average | number: '1.2-4'}}</td>
                                        <td class="loss">{{detail.seller.volume | number}}</td>
                                        <td class="loss">{{detail.seller.amount | number}}</td>
                                        <td class="loss">{{detail.seller.average | number}}</td>
                                        <td [ngClass]="{'gain':detail.netAmount > 0, 'loss':detail.netAmount < 0}">{{detail.netAmount | number}}</td>
                                        <td [ngClass]="{'gain':detail.totalValue > 0, 'loss':detail.totalValue < 0}">{{detail.totalValue | number}}</td>
                                        <td>
                                            <div class="progress" style="height: 18px;" >
                                                <!--<div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%; display: block; float: right;"></div>-->
                                                <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{ 'width': getProgressPercentage(detail),  'display': 'block', 'float': 'right'}"></div>
                                                <span>{{detail.totalPercentage | number : '1.2-2'}}%</span>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                </tbody>
                            </table>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated {{elapsedMinutes | number}} minutes ago
                                </div>
                            </div>
                        </div>
                        <hr *ngIf="isBuyerSellerCollapsed" />
                    </div>
                </div>
            </div>
        </div>
        <!-- CHARTS -->
        <div class="row" *ngIf="chartSwitch">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4"><h4 class="card-title">Charts</h4></div>
                            <div class="col-md-8">
                                <i class="mouse-pointer pull-right nc-icon" 
                                   [ngClass]="{'nc-minimal-down': !isChartCollapse,
                                         'nc-minimal-up': isChartCollapse}" 
                                   (click)="isChartCollapse = !isChartCollapse"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content" [ngbCollapse]="isChartCollapse">
                            <!--div class="btn-group" dropdown [isDisabled]="volume.details.length === 0"-->
                            <div class="btn-group" ngbDropdown>
                                <button id="button-basic" 
                                        ngbDropdownToggle 
                                        type="button" 
                                        class="btn btn-round dropdown-toggle"
                                        aria-controls="dropdown-basic">{{chartSelectedItem.value}}
                                </button>
                                <ul id="dropdown-basic" ngbDropdownMenu class="dropdown-menu"
                                    role="menu" aria-labelledby="button-basic">
                                    <li role="menuitem"><a class="dropdown-item" (click)="onChartColumnClick('totalValue')">Total value</a></li>
                                    <li role="menuitem"><a class="dropdown-item" (click)="onChartColumnClick('netAmount')">Net amount</a></li>
                                    <li role="menuitem"><a class="dropdown-item" (click)="onChartColumnClick('buyer.volume')">Buy volume</a></li>
                                    <li role="menuitem"><a class="dropdown-item" (click)="onChartColumnClick('seller.volume')">Sell volume</a>
                                    <li role="menuitem"><a class="dropdown-item" (click)="onChartColumnClick('totalPercentage')">% Volume</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group" ngbDropdown>
                                <button id="chartTypeButton"
                                        ngbDropdownToggle
                                        type="button"
                                        class="btn btn-round dropdown-toggle"
                                        aria-controls="dropdown-basic">{{chartTypeSelectedItem.value}}</button>
                                <ul id="chartType" ngbDropdownMenu class="dropdown-menu"
                                    role="menu" aria-labelledby="button-basic">
                                    <li role="menuitem"><a class="dropdown-item" (click)="onChartTypeClick(chartTypeDropdownItems[0].key)">{{chartTypeDropdownItems[0].value}}</a></li>
                                    <li role="menuitem"><a class="dropdown-item" (click)="onChartTypeClick(chartTypeDropdownItems[1].key)">{{chartTypeDropdownItems[1].value}}</a></li>
                                    <li role="menuitem"><a class="dropdown-item" (click)="onChartTypeClick(chartTypeDropdownItems[2].key)">{{chartTypeDropdownItems[2].value}}</a></li>
                                </ul>
                            </div>
                            <div id="volumeChart"
                                 class="ct-chart"
                                 style="height: 700px; font-size: 1.5rem !important;"
                                 [ngStyle]="{'overflow-x': getOverflowX(), 'overflow-y': getOverflowY(), 'display': isChartVisible()}" ></div>
                            <div class="footer">
                                <!-- <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Open
                                    <i class="fa fa-circle text-danger"></i> Click
                                    <i class="fa fa-circle text-warning"></i> Click Second Time
                                </div> -->
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated {{elapsedMinutes | number}} minutes ago
                                </div>
                            </div>
                        </div>
                        <hr *ngIf="isChartCollapse" />    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>