
<div class="container-fluid">
    <!-- Search autocomplete row -->
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" placeholder="Symbol" class="form-control" [(ngModel)]="selected" [typeahead]="securities" typeaheadOptionField="symbol"
                    (input)="onInput($event.target.value)" />
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1">
            <div class="input-group pull-right">
                <button class="btn btn-primary btn-sm" (click)="childModal.show()">Add</button>
            </div>
            <idea #childModal></idea>
        </div>
    </div>
    <!-- Date range pickers row -->
    <div class="row">
        <div class="col-md-2 form-group">
            <input type="text" class="form-control" #startDatePicker="bsDatepicker" bsDatepicker [(bsValue)]="startDate" [bsConfig]="{containerClass: 'theme-default', showWeekNumbers: false}">
        </div>
        <div class="col-md-1 form-group">
            <button class="btn btn-primary btn-sm pull-right" (click)="startDatePicker.toggle()">Start Date</button>
        </div>
        <div class="col-md-2 form-group">
            <input type="text" class="form-control" #endDatePicker="bsDatepicker" bsDatepicker [(bsValue)]="endDate" [bsConfig]="{containerClass: 'theme-default', showWeekNumbers: false}">
        </div>
        <div class="col-md-1 form-group">
            <button class="btn btn-primary btn-sm pull-right" (click)="endDatePicker.toggle()">End Date</button>
        </div>
    </div>
    <!-- Search -->
    <div class="row">
        <div class="col-md-6 form-group">
            <button class="btn btn-primary btn-sm pull-right" (click)="onSearch()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        <!-- <i class="ti-calendar"></i> -->
                        <span>{{currentMonth}} idea(s)</span>
                        <img src="./assets/img/spinner.gif" style="width: 70px;height:50px" *ngIf="showProgress">
                    </h4>
                    <p class="category">
                    </p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let column of columns">{{column}}
                                    <b class="caret"></b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let idea of ideas">
                                <tr [className]="getSelectableClass(idea)" (click)="onRowClick(idea)">
                                    <td>
                                        <i [className]="getExpandedClass(idea)" *ngIf="hasTransactions(idea)"></i>
                                        <i class="fa fa-plus fa-plus-disabled" *ngIf="!hasTransactions(idea)"></i>
                                        {{idea.symbol}}</td>
                                    <td>{{idea.type}}</td>
                                    <td>{{idea.position.totalShares | number:'.2'}}</td>
                                    <td>{{idea.position.remainingShares | number:'.2'}}</td>
                                    <td>{{idea.position.averageBuyPrice | currency:'PHP'}}</td>
                                    <td>{{idea.position.averageSellPrice | currency:'PHP'}}</td>
                                    <td>
                                        <p *ngIf="idea.position.isGainLoss" class="gain">+{{idea.position.gainLoss | percent}}</p>
                                        <p *ngIf="!idea.position.isGainLoss" class="loss">{{idea.position.gainLoss | percent}}</p>
                                    </td>
                                    <td>{{idea.position.marketValue | currency:'PHP'}}</td>
                                    <td>
                                        <a target="_blank" href="{{idea.chart}}">Link</a>
                                    </td>
                                    <td>{{idea.entryDate | date:mediumDate}}</td>
                                    <td>
                                        <ng-container *ngFor="let star of idea.stars">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </ng-container>
                                    </td>
                                </tr>
                                <ng-container *ngIf="hasTransactions(idea)">
                                    <tr *ngIf="!idea.isSelected">
                                        <td colspan="11">
                                            <div class="card card-block card-header">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th *ngFor="let subColumn of subColumns">{{subColumn}}
                                                                <b class="caret"></b>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container *ngFor="let transaction of idea.position.transactions">
                                                            <tr>
                                                                <td>{{transaction.matchedQuantity}}</td>
                                                                <td>{{transaction.price}}</td>
                                                                <td>{{transaction.side}}</td>
                                                                <td>{{transaction.status}}</td>
                                                                <td>{{transaction.createdDate | date:mediumDate}}</td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-12 col-md-10">
                    <pagination [directionLinks]="false" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage" [(itemsPerPage)]="pagination.itemsPerPage"
                        (numPages)="pagination.smallnumPages = $event" pageBtnClass="btn btn-primary btn-sm">
                    </pagination>
                </div>
                <div class="col-xs-12 col-12 col-md-2">
                    <pager id="pager" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"
                        pageBtnClass="btn btn-primary btn-sm" [(itemsPerPage)]="pagination.itemsPerPage" class="pull-right">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</div>