<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" value="Symbol" class="form-control" />
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1">
            <div class="input-group">
                <button class="btn btn-primary btn-sm" data-toggle="modal" href="#myModal">Add</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        <!-- <i class="ti-calendar"></i> -->
                        <span>{{currentMonth}} idea(s)</span>
                    </h4>
                    <p class="category">
                    </p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let column of columns">{{column}}
                                    <b class="caret"></b>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let idea of ideas">
                                  <tr data-toggle="collapse" [attr.data-target]="'#' + idea.id" 
                                    [className]="getSelectableClass(idea)"
                                    (click)="onRowClick(idea)">
                                    <td>
                                        <i [className]="getExpandedClass(idea)" *ngIf="hasPositions(idea)"></i>
                                        <i class="fa fa-plus fa-plus-disabled" *ngIf="!hasPositions(idea)"></i>
                                         {{idea.symbol}}</td>
                                    <td>{{idea.type}}</td>
                                    <td>{{idea.totalShares | number:'.2'}}</td>
                                    <td>{{idea.averageBuyPrice | currency:'PHP'}}</td>
                                    <td>{{idea.averageSellPrice | currency:'PHP'}}</td>
                                    <td>
                                        <p *ngIf="idea.isGainLoss" class="gain">+{{idea.gainLoss | percent}}</p>
                                        <p *ngIf="!idea.isGainLoss" class="loss">{{idea.gainLoss | percent}}</p>
                                    </td>
                                    <td>{{idea.marketValue | currency:'PHP'}}</td>
                                    <td>
                                        <a target="_blank" href="{{idea.chart}}">Link</a>
                                    </td>
                                    <td>{{idea.entryDate | date:mediumDate}}</td>
                                    <td>
                                        <ng-container *ngFor="let star of idea.stars">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </ng-container>
                                    </td>
                                </tr>
                                <tr *ngIf="hasPositions(idea)" [attr.id]="idea.id" class="collapse">
                                    <td colspan="10">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th *ngFor="let subColumn of subColumns">{{subColumn}}
                                                        <b class="caret"></b>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let position of idea.positions">
                                                    <tr>
                                                        <td>{{position.shares}}</td>
                                                        <td>{{position.buyPrice}}</td>
                                                        <td>{{position.sellPrice}}</td>
                                                        <td>{{position.entryDate | date:mediumDate}}</td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>