<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Idea</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                                <p class="label-entry">Symbol</p>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter stock symbol here" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-1">
                                <p class="label-entry">Type</p>
                            </div>
                            <div class="col-md-3">
                                <div class="dropdown">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        ---
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a>Trend Following</a>
                                        </li>
                                        <li>
                                            <a>Swing</a>
                                        </li>
                                        <li>
                                            <a>Tsupit</a>
                                        </li>
                                        <li>
                                            <a>Breakout</a>
                                        </li>
                                        <li>
                                            <a>Anticipate Breakout</a>
                                        </li>
                                        <li>
                                            <a>Position</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                                <p class="label-entry">Shares</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="Enter no. of shares bought here" class="form-control" />
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-1">
                                <p class="label-entry">Average Price</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="Enter average entry price here" class="form-control" />
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                                <p class="label-entry">Sell</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="Enter average sell price here" class="form-control" />
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-1">
                                <p class="label-entry">Chart Link</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="Enter chart link here" class="form-control" />
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                                <p class="label-entry">Rating</p>
                            </div>
                            <div class="col-md-2">
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                                <i class="ti-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>